Repository OvertureMaps/schema, pull requests merged in 2024-01, with the labels that each got.

#105 update schema docs intro
  docusaurus/docs/index.mdx
Labels: documentation

#109 Update segment surface default value to scalar value unknown
  schema/transportation/segment.yaml
Labels: bug, Transportation

#107 Update featureUpdateTime pattern regex
  counterexamples/common/timestamp/bad-timestamp-invalid-days.yaml
  counterexamples/common/timestamp/bad-timestamp-invalid-hours.yaml
  counterexamples/common/timestamp/bad-timestamp-invalid-miliseconds.yaml
  counterexamples/common/timestamp/bad-timestamp-invalid-minutes.yaml
  counterexamples/common/timestamp/bad-timestamp-invalid-months.yaml
  counterexamples/common/timestamp/bad-timestamp-invalid-seconds.yaml
  counterexamples/common/timestamp/bad-timestamp-invalid-timezone.yaml
  counterexamples/common/timestamp/bad-timestamp-no-timezone.yaml
  counterexamples/common/timestamp/bad-timestamp-yaml-no-quotes.yaml
  examples/common/timestamp/timestamp-leap-second.yaml
  examples/common/timestamp/timestamp-utc.yaml
  examples/common/timestamp/timestamp-with-tz-offset.yaml
  schema/defs.yaml
  test.sh
Labels: bug, schema

#111 Docs fix - clarify example for temporally scoped lane rule
  docusaurus/docs/themes/transportation/scoping-rules.mdx
Labels: documentation, schema

#104 Removing level property from connectors schema
  counterexamples/transportation/connector/level-property-not-allowed.json
  examples/transportation/connector/connector.yaml
  examples/transportation/docusaurus/connector.yaml
  schema/transportation/connector.yaml
Labels: bug, Transportation

#110 Removed temporal scoping and isPrivate from road flags
  counterexamples/transportation/segment/road/bad-road-flags-invalid-isPrivate-flag.json
  counterexamples/transportation/segment/road/bad-road-invalid-temporal-scoping.json
  examples/transportation/segment/road/road-rules.yaml
  examples/transportation/segment/road/road.yaml
  schema/transportation/segment.yaml
Labels: bug, Transportation
