Repository OvertureMaps/schema, pull requests merged in 2024-02, with the labels that each got.

#119 Adding additional locality type names to admins/defs.yaml.
  schema/admins/defs.yaml
Labels: dataFormat, Admins

#122 Pull request template for schema changes
  .github/PULL_REQUEST_TEMPLATE/documentation_update.md
  .github/pull_request_template.md
Labels: schema

#115 updates to entity definition and data model page
  docusaurus/docs/gers/gers.mdx
  docusaurus/docs/gers/scenarios.mdx
  docusaurus/docs/gers/terminology.mdx
  docusaurus/docs/overview/feature-model/index.mdx
  docusaurus/docs/overview/feature-model/names.mdx
  docusaurus/docs/overview/feature-model/scoping-rules.mdx
  docusaurus/docs/overview/index.mdx
  docusaurus/docs/reference/places/place.mdx
  docusaurus/docs/themes/admins/admins.mdx
  docusaurus/docs/themes/base/index.mdx
  docusaurus/docs/themes/buildings/building.mdx
  docusaurus/docs/themes/places/place.mdx
  docusaurus/docs/themes/themes.mdx
  docusaurus/docs/themes/transportation/index.mdx
Labels: documentation

#112 🚨DO NOT MERGE UNTIL 2/15 🚨 Country and sub-division ISO code validation
  counterexamples/admins/locality/invalid-country-code-exceeded-max-length.json
  counterexamples/admins/locality/invalid-country-code-less-than-min-length.json
  counterexamples/admins/locality/invalid-sub-country-code-exceeded-max-length.json
  counterexamples/admins/locality/invalid-sub-country-code-less-than-min-length.json
  examples/admins/locality/iso-sub-country-code-locality.yaml
  schema/admins/defs.yaml
Labels: bug, Admins

#129 Switch camelCase to snake_case in schema conventions doc
  SCHEMA_CONVENTIONS.md
Labels: documentation, schema
