Repository OvertureMaps/schema, pull requests merged in 2024-03, with the labels that each got.

#128 Schema: Remove mixed types: road.surface (Parquet compatibility)
  counterexamples/transportation/segment/road/bad-road-surface-invalid-flat-value.json
  examples/transportation/docusaurus/access-restriction.yaml
  examples/transportation/docusaurus/simple-road.yaml
  examples/transportation/docusaurus/turn-restriction-02-source.yaml
  examples/transportation/docusaurus/turn-restriction-02-target.yaml
  examples/transportation/docusaurus/turn-restriction-02-via.yaml
  examples/transportation/segment/road/road-flow-alternating.yaml
  examples/transportation/segment/road/road-flow-reversible.yaml
  examples/transportation/segment/road/road.yaml
  examples/transportation/segment/road/sidewalk.yaml
  schema/transportation/segment.yaml
Labels: bug, Transportation, schema

#135 Schema: Remove mixed types: road.flags (Parquet compatibility)
  counterexamples/transportation/segment/road/bad-road-flags-invalid-string-value.json
  counterexamples/transportation/segment/road/restrictions/bad-access-mode-not.yaml
  counterexamples/transportation/segment/road/restrictions/bad-access-mode.yaml
  counterexamples/transportation/segment/road/restrictions/bad-access-restrictions-vehicle.yaml
  counterexamples/transportation/segment/road/restrictions/bad-speed-limits-mode.yaml
  counterexamples/transportation/segment/road/restrictions/turns/bad-access-restrictions-modes.yaml
  counterexamples/transportation/segment/road/restrictions/turns/bad-access-restrictions-not-modes.yaml
  counterexamples/transportation/segment/road/restrictions/turns/bad-access-restrictions-recognized.yaml
  counterexamples/transportation/segment/road/restrictions/turns/bad-access-restrictions-using.yaml
  counterexamples/transportation/segment/road/restrictions/turns/bad-access-restrictions-vehicle.yaml
  counterexamples/transportation/segment/road/restrictions/turns/bad-turns-duplicate-via.yaml
  counterexamples/transportation/segment/road/restrictions/turns/bad-turns-no-turn-target.yaml
  counterexamples/transportation/segment/road/restrictions/turns/bad-turns-no-via-target.yaml
  counterexamples/transportation/segment/road/restrictions/turns/bad-turns-reason.yaml
  examples/transportation/segment/road/road.yaml
  schema/transportation/segment.yaml
Labels: bug, Transportation, schema

#137 Rename connectors to connector_ids
  counterexamples/transportation/segment/bad-connector-duplicate.json
  counterexamples/transportation/segment/bad-connector.json
  counterexamples/transportation/segment/road/restrictions/bad-access-mode-not.yaml
  counterexamples/transportation/segment/road/restrictions/bad-access-mode.yaml
  counterexamples/transportation/segment/road/restrictions/bad-access-restrictions-vehicle.yaml
  counterexamples/transportation/segment/road/restrictions/bad-speed-limits-mode.yaml
  counterexamples/transportation/segment/road/restrictions/turns/bad-access-restrictions-modes.yaml
  counterexamples/transportation/segment/road/restrictions/turns/bad-access-restrictions-not-modes.yaml
  counterexamples/transportation/segment/road/restrictions/turns/bad-access-restrictions-recognized.yaml
  counterexamples/transportation/segment/road/restrictions/turns/bad-access-restrictions-using.yaml
  counterexamples/transportation/segment/road/restrictions/turns/bad-access-restrictions-vehicle.yaml
  counterexamples/transportation/segment/road/restrictions/turns/bad-turns-duplicate-via.yaml
  counterexamples/transportation/segment/road/restrictions/turns/bad-turns-no-turn-target.yaml
  counterexamples/transportation/segment/road/restrictions/turns/bad-turns-no-via-target.yaml
  counterexamples/transportation/segment/road/restrictions/turns/bad-turns-reason.yaml
  examples/transportation/docusaurus/access-restriction.yaml
  examples/transportation/docusaurus/lanes-resolution-segment-01.yaml
  examples/transportation/docusaurus/lanes-resolution-segment-02.yaml
  examples/transportation/docusaurus/simple-road.yaml
  examples/transportation/docusaurus/turn-restriction-01-exit.yaml
  examples/transportation/docusaurus/turn-restriction-01-source.yaml
  examples/transportation/docusaurus/turn-restriction-01-target.yaml
  examples/transportation/docusaurus/turn-restriction-02-source.yaml
  examples/transportation/docusaurus/turn-restriction-02-target.yaml
  examples/transportation/docusaurus/turn-restriction-02-via.yaml
  examples/transportation/segment/road/road-flow-alternating.yaml
  examples/transportation/segment/road/road-flow-reversible.yaml
  examples/transportation/segment/road/road-oneway-no-lanes.yaml
  examples/transportation/segment/road/road-oneway-with-lanes.yaml
  examples/transportation/segment/road/road-with-lr-name.yaml
  examples/transportation/segment/road/road-with-lr-width.yaml
  examples/transportation/segment/road/road.yaml
  examples/transportation/segment/road/sidewalk.yaml
  gers/examples/python/match_classes.py
  gers/examples/python/match_traces.py
  schema/transportation/segment.yaml
Labels: Transportation, schema, v1.0

#136 Add freshening counterexamples to PR checklist for schema change
  .github/pull_request_template.md
Labels: schema

#138 Remove mixed schema types for minOccupancy property
  counterexamples/transportation/segment/road/bad-road-invalid-min-occupancy-value.json
  counterexamples/transportation/segment/road/bad-road-invalid-min-occupancy.json
  examples/transportation/docusaurus/lanes-hov.yaml
  examples/transportation/segment/road/lanes/restrictions/lanes-hov-occupancy-scoped.yaml
  examples/transportation/segment/road/lanes/restrictions/lanes-hov.yaml
  schema/transportation/segment.yaml
Labels: bug, Transportation, schema

#143 Correct scoping implementation at the schema level
  counterexamples/transportation/segment/road/bad-road-invalid-min-occupancy-value.json
  counterexamples/transportation/segment/road/bad-road-invalid-min-occupancy.json
  counterexamples/transportation/segment/road/restrictions/access/bad-access-mode.yaml
  counterexamples/transportation/segment/road/restrictions/access/bad-access-restrictions-vehicle.yaml
  counterexamples/transportation/segment/road/restrictions/access/bad-access-unsupported-properties.yaml
  counterexamples/transportation/segment/road/restrictions/bad-access-mode-not.yaml
  counterexamples/transportation/segment/road/restrictions/prohibited_transitions/unsupported-properties.yaml
  counterexamples/transportation/segment/road/restrictions/speed_limits/bad-speed-limits-empty-rule.json
  counterexamples/transportation/segment/road/restrictions/speed_limits/bad-speed-limits-mode.yaml
  docusaurus/docs/overview/feature-model/scoping-rules.mdx
  docusaurus/docs/themes/transportation/roads.mdx
  docusaurus/docs/themes/transportation/travel-modes.mdx
  examples/transportation/docusaurus/lanes-absolute-form.yaml
  examples/transportation/docusaurus/lanes-hov.yaml
  examples/transportation/docusaurus/lanes-resolution-segment-02.yaml
  examples/transportation/docusaurus/simple-road.yaml
  examples/transportation/docusaurus/speed-limits-02-directional.yaml
  examples/transportation/docusaurus/temporal-scoping.yaml
  examples/transportation/segment/road/lanes/lanes-flow-alternating.yaml
  examples/transportation/segment/road/lanes/lanes-flow-reversible.yaml
  examples/transportation/segment/road/lanes/lanes-temporal.yaml
  examples/transportation/segment/road/lanes/restrictions/lanes-access-for-travel-modes.yaml
  examples/transportation/segment/road/lanes/restrictions/lanes-access-with-lr.yaml
  examples/transportation/segment/road/lanes/restrictions/lanes-hov-occupancy-scoped.yaml
  examples/transportation/segment/road/lanes/restrictions/lanes-hov.yaml
  examples/transportation/segment/road/lanes/restrictions/lanes-speed-limits.yaml
  examples/transportation/segment/road/restrictions/road-restrictions-access.yaml
  examples/transportation/segment/road/restrictions/road-restrictions-prohibited-transitions.yaml
  examples/transportation/segment/road/restrictions/road-restrictions-speed-limits.yaml
  examples/transportation/segment/road/road-flow-reversible.yaml
  examples/transportation/segment/road/road-oneway-no-lanes.yaml
  examples/transportation/segment/road/road-oneway-with-lanes.yaml
  examples/transportation/segment/road/road.yaml
  schema/defs.yaml
  schema/transportation/segment.yaml
Labels: documentation, Transportation, schema
