Repository OvertureMaps/schema, pull requests merged in 2025-01, with the labels that each got.

#309 Depth is supposed to be a positive number — number of meters from the surface to the bottom.
  counterexamples/base/bathymetry/bad-depth.yaml
  examples/base/bathymetry-example.yaml
  schema/base/defs.yaml
Labels: schema, theme - base 🌐, change type - minor 🤏

#308 [Minor] Prominence divisions from stepps00
  counterexamples/divisions/division/parent-not-allowed-on-country.yaml
  examples/divisions/division/prominence.yaml
  schema/defs.yaml
  schema/divisions/division.yaml
Labels: schema, theme - divisions 🏴, change type - minor 🤏

#312 schema concepts revisions
  docs/schema/0-Schema.mdx
  docs/schema/concepts/by-theme/base/index.mdx
  docs/schema/concepts/by-theme/buildings/3d_buildings.mdx
  docs/schema/concepts/by-theme/buildings/index.mdx
  docs/schema/concepts/by-theme/places/index.mdx
Labels: change type - documentation - docs team 📝
